<div *ngIf="product.title" class="card">
  <img class="card-img-top" [src]="product.imageUrl" alt="product.title" *ngIf="product.imageUrl">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <p class="card-text">{{ product.price | currency:'USD':'symbol' }}</p>
  </div>
  <div *ngIf="showActions && cart" class="card-footer">
    <button *ngIf="cart.getQuantity(product) === 0; else updateQuantity"
      class="btn btn-secondary btn-block"
      (click)="addToCart()">
      Add to cart
    </button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [cart]="cart"></product-quantity>
    </ng-template>
  </div>
</div>